body {
  background-image: url(https://img-fotki.yandex.ru/get/9895/235654262.80/0_dcf27_a41cece_L);
}
.duvarkagıtı {
  max-width: 960px;
  margin: auto;
  background: whitesmoke;
  padding: 10px;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: darkblue;
  background-color: transparent;
  text-decoration: underline;
}