* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: Tahoma;
}

.site {
  width: 1020px;
  margin-right: auto;
  margin-left: auto;
}

.ust {
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: 1px solid lightblue;
}

.ust .logo {
  float: left;
}

.ust .menu {
  float: right;
  margin-top: 40px;
}

.ust .menu ul li {
  float: left;
}

.ust .menu ul li a {
  display: inline-block;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.ust .menu ul li.aktif a {
  background-color: lightblue;
  border-radius: 5px;
  color: white;
}

.orta {
  margin-top: 40px;
}

div.baslik {
  background-color: lightblue;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.urunler {
  margin-top: 10px;
  margin-bottom: 10px;
}

.urun {
  width: 246px;
  height: 250px;
  float: left;
  margin-left: 12px;
  border: 1px solid gray;
  text-align: center;
}

.urun:first-of-type {
  margin-left: 0;
}

.haberler {
  margin-top: 10px;
}

.haber {
  width: 500px;
  float: left;
  margin-left: 20px;
}

.haber:first-of-type {
  margin-left: 0;
}

.haber img {
  width: 125px;
  float: left;
}

.haber .yazi {
  width: 360px;
  float: left;
  margin-left: 15px;
}

.haber .yazi p.baslik {
  font-weight: bold;
  font-size: 15px;
}

.haber .yazi p.aciklama {
  margin-top: 5px;
  font-size: 13px;
  line-height: 16px;
}

.haber .yazi p.tarih {
  margin-top: 5px;
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 3px;
}

.alt {
  margin-top: 40px;
  border-top: 1px solid gray;
  padding-top: 10px;
  font-size: 14px;
  color: gray;
}

a.hamburger {
  float: right;
  display: none;
  width: 24px;
}

a.hamburger span {
  height: 3px;
  display: block;
  border-radius: 2px;
  margin-bottom: 3px;
  background-color: black;
}
