* {
  box-sizing: border-box;
}

body {
  font-family: "Tahoma";
  font-size: 16px;
  background-image: url("../img/body.png");
  background-repeat: repeat-x;
}

strong {
  font-weight: bold;
}

.clear {
  clear: both;
}

.site {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.ust {
}

.logo {
  float: left;
  margin-top: 80px;
}

.sag {
  float: right;
  margin-top: 90px;
}

.sag p.iletisim {
  float: right;
  font-size: 12px;
}

.sag .bayraklar {
  float: right;
  margin-top: 20px;
}

.menu {
  margin-top: 30px;
  border: 1px solid gray;
}

.menu ul li {
  float: left;
  padding: 10px;
  border-left: 1px solid gray;
}

.menu ul li:first-child {
  border-left: 0;
}

.menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.orta {
  margin-top: 20px;
}

.banner {
  border: 1px solid gray;
}

.banner img {
  display: block;
}

.slogan {
  margin-top: 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.yazilar {
  margin-top: 30px;
}

.yazilar .item {
  width: 300px;
  float: left;
  margin-left: 20px;
}

.yazilar .item:first-of-type {
  margin-left: 0;
}

.yazilar .item .baslik {
  background-color: red;
}

.yazilar .item .baslik img {
  float: left;
}

.yazilar .item .baslik p {
  float: left;
  font-weight: bold;
  font-size: 16px;
  margin-top: 8px;
  margin-left: 10px;
}

.yazilar .item p.aciklama {
  margin-top: 5px;
  font-size: 14px;
  line-height: 16px;
}
