* {
  box-sizing: border-box;
}

body {
  font-family: "Tahoma";
  font-size: 16px;
  background-image: url("../img/body.png");
  background-repeat: repeat-x;
}
.clear {
  clear: both;
}

.fll {
  float: left;
}

.flr {
  float: right;
}

.bold {
  font-weight: bold;
}

.site {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.top {
  margin-top: 85px;
  margin-bottom: 25px;
}

.contact-us img {
  display: inline-block;
  width: 12px;
  margin: 2px 2px 0px 0px;
}

.icon {
  padding-top: 25px;
  padding-left: 10px;
}

.menu {
    border: 1px solid grey;
}

.menu li {
    border-left: 1px solid grey;
    float: left;
    padding: 6px;
}

.main-pic {
    margin: 20px 0px;
    border: 1px solid grey;
}

.main-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.bottom {
    margin-top: 20px;
}


.news {
    width: 310px;
    float: left;
    margin-right: 3px;
}

h3 {
    font-weight: bold;
    line-height: 36px;
    margin-left: 40px;
}

.news-content {
    margin-top : 10px;
    margin-bottom: 100px;
}